*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header{
    padding:  12px 0;
    background-color: #0aacdc;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}


.logo{
    width: 50%;
}

.logo h2{
    color: #fff;
}

.form-busca{
    width: 50%;
    text-align: right;
}

.form-busca form {
    display: inline-block;
    max-width: 200px;
    position: relative;
}

.form-busca i {
    position: absolute;
    left: 10px;
    top: 8px;
    color: #fff;
    font-size: 18px;
}

.form-busca input {
    background-color: #008bb4;
    padding-left: 40px;
    width: 100%;
    height: 35px;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}

::placeholder{
    color: #fff;
}

::-ms-input-placeholder{
    color: #fff;
}

:-ms-input-placeholder{
    color: #fff;
}

section.noticia-destaque{
    padding: 40px 0;
}

section.noticia-destaque > .center{
    max-width: 760px;
}

.img-destaque {
    width: 100%;
    position: relative;
}

.img-destaque img {
    width: 100%;
    border-radius: 20px;
}

.title-destaque-descricao{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px 20px;
    max-width: 600px;
    color: #fff;
}

.title-destaque-descricao h2{
    font-size: 54px;
    margin: 20px 0;
}

.title-destaque-descricao p{
    font-weight: lighter;
}

.overlay-destaque{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.2%;
    background-color: rgba(0,0,0, .6);
    border-radius: 20px;
}

section.outras-noticias {
    background-color: #EAEAEA;
    padding: 30px 20px;
    text-align: center;
}

section.outras-noticias h2 {
    font-size: 42px;
    margin-bottom: 40px;
}

.ultimas{
    width: 65%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.box-ultima-single{
    width: 48%;
    margin-right: 2%;
    background-color: #fff;
    max-height: 600px;
    padding-bottom: 20px;
    text-align: left;
    border-radius: 10px;
}

.box-ultima-single img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.box-ultima-single h3{
    color: #33439B;
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.box-ultima-single h2{
    color: #303336;
    font-size: 28px !important;
}

.box-ultima-single p {
    color: #7B8591;
    font-size: 16px;
    margin-top: 10px;
}

.box-ultima-single a{
    display: block;
    width: 125px;
    margin-top: 15px;
    font-weight: bold;
    height: 45px;
    border: 1px solid #EBEBEB;
    color: #0AACDC;
    border-radius: 10px;
    line-height: 45px;
    text-align: center;
}

.conteudo-noticia{
    padding: 20px;
}

.mais-lidas{
    width: 35%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
}

.mais-lidas > h3 {
    background-color: #3F51B5;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    border-radius: 10px 10px 0 0 ;
    margin-top: -19px;
}


.mais-lida-single {
    display: flex;
    padding: 20px;
}

.mais-lida-single img {
    width: 30%;
}

.texto-mais-lida-single{
    width: 70%;
    text-align: left;
    padding: 0 10px;
}

.texto-mais-lida-single h4{
    color: #40BE65;
    letter-spacing: 3.2px;
    margin-bottom: 5px;
}

.texto-mais-lida-single p {
    font-size: 14px;
    color: #7B8591;
}

.texto-mais-lida-single a{
    color: #999999;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 11px;
    margin-top: 8px;
    display: inline-block;
}