<%- include("partials/header.html") %>

    <section class="noticia-destaque">
        <div class="center">
            <div class="img-destaque">
                <div class="overlay-destaque"></div>
                <div class="title-destaque-descricao">
                    <a style="color: #fff;" href="<%= posts[0].slug %>"><h2><%= posts[0].titulo %></h2></a>
                    
                    <p><%- posts[0].descricaoCurta %>...</p>
                </div>
                <img src="/public/images/landscape.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Ultimas Notícias</h2>
            <div class="center">
                <div class="ultimas">

                    <% for(let i = 1; i < posts.length; i++){ %>
                    <div class="box-ultima-single">
                        <img src="<%= posts[i].imagem %>">
                        <div class="conteudo-noticia">
                            <h3><%= posts[i].categoria %></h3>
                            <h2><%= posts[i].titulo %></h2>
                            <p><%- posts[i].descricaoCurta %>...</p>
                            <a href="/<%= posts[i].slug %>">Saiba mais</a>
                        </div>
                    </div>
                    <% } %>
                </div>

                
                <div class="mais-lidas">
                    <br>
                    <h3>Mais Lidas</h3>
                    <div class="mais-lidas-noticias">

                        <% for(let i = 0; i < posts.length; i++){ %>
                        <div class="mais-lida-single">
                            <img src="../public/images/noticia-img-02.jpg">
                            <div class="texto-mais-lida-single">
                                <h4><%= posts[i].titulo %></h4>
                                <p><%- posts[i].descricaoCurta %></p>
                                <a href="<%= posts[i].slug %>">Saiba mais</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer.html") %>