<%- include("partials/header.html"); %>

<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <p><%= noticia.views %></p>
            <div class="autor-nome">
                <span>por <%= noticia.autor %></span>
            </div>

            <div>
                <img src="<%= noticia.imagem %>" alt="capa" style="max-width: 100%;">
            </div>
            <%- noticia.conteudo %>


        </div>


        <div class="mais-lidas">
            <br>
            <h3>Mais Lidas</h3>
            <div class="mais-lidas-noticias">
                <div class="mais-lida-single">
                    <img src="../public/images/noticia-img-02.jpg">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque non quidem dolores fugit dolorum et iusto adipisci qui.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-single">
                    <img src="../public/images/noticia-img-02.jpg">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque non quidem dolores fugit dolorum et iusto adipisci qui.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-single">
                    <img src="../public/images/noticia-img-02.jpg">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque non quidem dolores fugit dolorum et iusto adipisci qui.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
                <div class="mais-lida-single">
                    <img src="../public/images/noticia-img-02.jpg">
                    <div class="texto-mais-lida-single">
                        <h4>Natureza</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque non quidem dolores fugit dolorum et iusto adipisci qui.</p>
                        <a href="">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include("partials/footer.html"); %>